<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Account Details</h3>
    <p>Name :<%= acc.first_name + " "+ acc.last_name  %></p>
    <!-- <p><%= %></p> -->
    <p>Nic No. : <%= acc.nic %></p>
    <p> Account No. :<%= accNo%></p>

    <form action="<%=type%>" method="post"> 
    
    <div class="form-group">
      <label for="amount"></label>
      <input type="text" class="form-control" name="amount" id="" aria-describedby="helpId" placeholder="amount">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>
</body>
</html>